<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXPENSE TRACKER</title>
    <link rel="stylesheet" href="/public/css/index1.css">
</head>

<body>
 
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/views/index3.html">Home</a>
                </li>
                <li>
                    <a href="/views/index1.html" class="active">Add-Expense</a>
                </li>
                <li>
                    <a href="/views/index2.html">Watch-Expenses</a>
                </li>
                <li>
                    <a href="/views/index4.html">Premium Features</a>
                </li>
                <li>
                    <a href="/views/login.html">Log Out</a>
                </li>
             
            </ul>
        </nav>
    </header>
    
    <form action=" #" autocomplete="off" id="my-form">
    <h3>EXPENSE TRACKER</h3>
    <h6>HAVE A TRACK ON YOUR EVERYDAY EXPENDITURE!</h6>
    <hr>
    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount" placeholder="Enter the amount" step="0.01">

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" placeholder="Enter the description">

    <label for="category">Category:</label>
    <select name="category" id="category">
        <option value="Fuel">Fuel</option>
        <option value="Recharge">Recharge</option>
        <option value="Electricity">Electricity</option>
        <option value="Entertainment">Entertainment</option>
        <option value="Food">Food</option>
        <option value="Utilities">Utilities</option>
        <option value="Groceries">Groceries</option>
        <option value="Dining Out">Dining Out</option>
        <option value="Healthcare">Healthcare</option>
        <option value="Clothing">Clothing</option>
        <option value="Travel">Travel</option>
        <option value="Education">Education</option>
        <option value="Home Maintenance">Home Maintenance</option>
        <option value="Gifts">Gifts</option>
        <option value="Insurance">Insurance</option>
        <option value="Miscellaneous">Miscellaneous</option>
        <option value="Technology">Technology</option>
        <option value="Hobbies">Hobbies</option>
        <option value="Subscription">Subscription</option>
        <option value="Personal Care">Personal Care</option>
    </select>

    <input type="submit" value="ADD EXPENSE"></input>

    </form>





    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>




    <script src="/public/js/addExpense.js"></script>


</html>

<!-- JWT_SECRET ='a46142352jay2352morde5674b784hjfiuye68940sjhhreurh34934i'
RAZORPAY_KEY_ID='rzp_test_a8kRZyRqgESa2h'
RAZORPAY_KEY_SECRET='6Nn1ZNYmdnOVn3laD2ku8nzi'
API_KEY='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'
BUCKET_NAME='expensetrackerappp'
IAM_USER_KEY='AKIAURT6Q2I5T3F673GB'
IAM_USER_SECRET='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'
PORT=3000
WEBSITE=http://34.235.120.189:3000
DB_NAME='expensetracker-app'
DB_USER='AjayMorde'
DB_PASSWORD='awsajaymorde1998'
DB_DIALECT='mysql'
DB_HOST='database-1.comscgvkuc9g.us-east-1.rds.amazonaws.com' -->
